.ListProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}



.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #83ff2b;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBtns a:hover {
  color: white;
  background-color: #83ff2b;
}

.paginationActive a {
  color: white;
  background-color: #83ff2b;
}

.paginationDisabled a {
  color: rgb(242, 237, 237);
  background-color: rgb(79, 71, 71);
}